.head {
  text-align: center;
}
.head h1{
  display:inline-block;
  margin-top:40px;
  color:#0e0e0e;
}
 .game-menu-after{
   height:10%;
   border: solid #eee 2px;
 }
 .game-menu-after button{
   margin: 20px 4% 20px 4%;
 }

 .start button{
   margin:20px 0px 20px 0px;
   display: inline-block;
   left:50%;
   transform: translateX(-50%);
 }
 .block{
   background-color:#00ffbd;
   height:50px;
   width:100%;
   z-index: 99;
   text-align: center;
 }
 .player,.monster{
   height:150px;
 }
 .block h5{
   color:white;
   margin-top:15px;
   display:inline-block;
 }
